<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.EmployeeMapper">
   <select id="selectOne" resultType="vo.Employee" parameterType="int">
   SELECT 
		e.employee_id as empid
		, e.first_name || ' ' || e.last_name as ename
		, e.hire_date as hiredate
		, e.salary as salary
		, d.department_name as departmentname
	FROM
		employees e, departments d
	WHERE 
		e.department_id = d.department_id
	    AND
	    e.employee_id = #{empid}
   </select>
   <select id="selectAll" resultType="vo.Employee">
   	SELECT 
		e.employee_id as empid
		, e.first_name || ' ' || e.last_name as ename
		, e.hire_date as hiredate
		, e.salary as salary
		, d.department_name as departmentname
	FROM
		employees e, departments d
	WHERE 
		e.department_id = d.department_id
		ORDER BY 2
   </select>
   
   <select id="selectByDepartment" parameterType="int" resultType="vo.Employee">
      	SELECT 
		e.employee_id as empid
		, e.first_name || ' ' || e.last_name as ename
		, e.hire_date as hiredate
		, e.salary as salary
		, d.department_name as departmentname
	FROM
		employees e, departments d
	WHERE 
		e.department_id = d.department_id
		AND
        e.department_id = #{deptno}
   </select>
</mapper>
